*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    height: 80px;
    background-color:rgb(246, 248, 248) ;
    
}

.bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itm{
    display: flex;
    padding: 30px;
    gap: 20px ;
}

.logo{
    display: flex;
    padding: 10px;
    font-size: xx-large;
}

.img{
    background-image: url(city-cityscape-lightning-night-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:180px;
    gap: 10px;
}
.hh{
    color: white;
    font-size: xx-large;
}.hhh{
    background-color: rgb(244, 183, 14);
    border-radius: 8px;
    padding: 10px;
    background-size: cover;
    width: fit-content;
    font-size: xx-large;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.p1{

    width: 700px;
    color: whitesmoke;
   
}.disc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hhhh{
    background-color: rgb(12, 10, 1);
    width: fit-content;
    padding: 15px;
    color: rgb(249, 202, 29);
    border-radius: 8px;
   
}

.lvl2{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.level3{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    
    
    
}
.bd{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
    
    
}.pc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    

}.rc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}.oo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para31{
    width: 300px;
}

.level4{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.level5{
    width: 100%;
    height: 250px;
    
    display: flex;
    flex-direction: row;
}.r1{
    background-image: url(service-icon-4.png);
    background-size: cover;
    background-repeat: no-repeat;

}.r2{
    background-image: url(builder-2.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;

}.r3{
    background-image: url(builder-3.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}.rw1{
    flex: 1;
}


.level6{
    width: 100%;
    height: 250px;
    
    display: flex;
    flex-direction: row;
}.rw2{
    flex: 1;
}
.a1{
    background-image: url(builder-4.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
   
}.a2{
    background-image: url(builder-5.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}.a3{
    background-image: url(builder-6.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}