*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    height: 80px;
    background-color:rgb(246, 248, 248) ;
    position: sticky;
    width: 100%;
    top: 0;
    
}

.bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itm{
    display: flex;
    padding: 30px;
    gap: 20px ;
}

.logo{
    display: flex;
    padding-left: 30px;
    
}

.img{
    background-image: url(city-cityscape-lightning-night-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:180px;
    gap: 10px;
}
.hh{
    color: white;
    font-size: xx-large;
}.hhh{
    background-color: rgb(244, 183, 14);
    border-radius: 8px;
    padding: 10px;
    background-size: cover;
    width: fit-content;
    font-size: xx-large;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.p1{

    width: 700px;
    color: whitesmoke;
   
}.disc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hhhh{
    background-color: rgb(12, 10, 1);
    width: fit-content;
    padding: 15px;
    color: rgb(249, 202, 29);
    border-radius: 8px;
   
}

.lvl2{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.level3{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-inline: 20px;
    
    
    
}
.bd{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
    
    
}.pc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    

}.rc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}.oo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para31{
    width: 300px;
}

.level4{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.level5{
    width: 100%;
    height: 250px;
    
    display: flex;
    flex-direction: row;
    
}.r1{
    background-image: url(service-icon-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    

}.r2{
    background-image: url(builder-2.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

}.r3{
    background-image: url(builder-3.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    
}.rw1{
    flex: 1;
    

}


.level6{
    width: 100%;
    height: 250px;
    
    display: flex;
    flex-direction: row;
}.rw2{
    flex: 1;
}
.a1{
    background-image: url(builder-4.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position:center;
   
}.a2{
    background-image: url(builder-5.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}.a3{
    background-image: url(builder-6.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.d1:hover{
    color: orange;
}
.hhhh:hover{
    color: black;
    background-color: orange;
}.bd:hover{
    background-color: whitesmoke;
    transition: 500ms;
}.pc:hover{
    background-color: whitesmoke;
    transition: 500ms;
}.rc:hover{
    background-color: whitesmoke;
    transition: 500ms;
    
}.oo{
    border-radius: 20px;
}.top{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
}button{
    padding: 5px;
    padding-inline: 20px;
    border-radius: 6px;
    border-style: none;
    border: 1px solid rgb(194, 189, 189);
    
}.b6{
    background-color: orange;
    color: white;
    padding: 6px;
    padding-inline: 15px;
    
}.b6:hover{
    background-color: white;
    color: orange;
    border: 1px solid orange;
}.level5:hover{
    background-color: orange;
}



.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(241, 166, 5, 0.929);
    opacity: 0;
    transition:  .5s;
}

.r1:hover .color-overlay{
    opacity: 1;
}


.l{
    width: 100%;
    height: 900px;
}

.co2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(241, 166, 5, 0.929);
    transition:  0.5s; 
    opacity: 0;
}

.r2:hover .co2 {
    opacity: 1;
}

.co3{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(241, 166, 5, 0.929);
    transition: opacity  0.5s;
    opacity: 0;
}
.r3:hover .co3{
    opacity: 1;
}.co4{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(241, 166, 5, 0.929);
    transition:opacity 0.5s;
    opacity: 0;
}.a1:hover .co4{
    opacity: 1;
}

.co5{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(241, 166, 5, 0.929);
    transition:opacity 0.5s;
    opacity: 0;
}
.a2:hover .co5{
    opacity: 1;

}

.co6{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(241, 166, 5, 0.929);
    opacity: 0;
    transition: 0.5s;
}

.a3:hover .co6{
    opacity: 1;
}

.rw2 .f1 {
    display: flex;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
.rw1 .f1{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap :10px;
}
.rw1 .p22{
    width: 98%;

}
.rw2 .p22{
    width: 98%;
    
}.f1{
    display: flex;
    align-items: center;
    justify-items: center;
}
.p::selection{
    background-color: blue;
}

.b5 {
    padding: 3px;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
    padding-inline: 10px;
    background-color: white; 
    font-size: 16px; 
    
}


.b5 option {
    background-color: white;
    font-weight: 600;
}
.b5:hover {
    background-color: #f2ecec; /* Background color on hover */
}